In [ ]:
#Activity 4- group by month and time and get the maximum wind direction in degrees
#predefined Start
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv('https://shravantihable.github.io/AA/2015_Air_quality_in_northern_Taiwan.csv')
df

df['month'] = pd.DatetimeIndex(df['time']).month
df['time_hours'] = pd.DatetimeIndex(df['time']).time
df

df.replace( '', float('nan') ,inplace=True)
df.replace( '0', float('nan') ,inplace=True)
df.replace('.#$', float('nan') ,inplace=True, regex=True)
df.replace('.x$', float('nan') ,inplace=True, regex=True)
df = df.dropna()
df
#predefined end


#define a variable new_dataframe, group the values of month and time_hours column using groupby() function, add one more column [''WIND_DIREC''] and using the '.' operator access the max function and reset the index to 0.

#print the variable new_dataframe

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  time  station AMB_TEMP  ... WS_HR month time_hours
160   07-01-2015 16:00  Banqiao       15  ...   1.9     7   16:00:00
175   08-01-2015 07:00  Banqiao       12  ...   2.4     8   07:00:00
176   08-01-2015 08:00  Banqiao       13  ...   2.5     8   08:00:00
177   08-01-2015 09:00  Banqiao       13  ...   2.6     8   09:00:00
178   08-01-2015 10:00  Banqiao       14  ...   2.3     8   10:00:00
...                ...      ...      ...  ...   ...   ...        ...
8748  31-12-2015 12:00  Banqiao       17  ...   2.7    12   12:00:00
8749  31-12-2015 13:00  Banqiao       17  ...   2.4    12   13:00:00
8750  31-12-2015 14:00  Banqiao       17  ...   2.5    12   14:00:00
8751  31-12-2015 15:00  Banqiao       17  ...   2.2    12   15:00:00
8752  31-12-2015 16:00  Banqiao       17  ...   1.4    12   16:00:00

[3673 rows x 25 columns]