<a href="https://colab.research.google.com/github/aparnachadha/AAs/blob/main/ADV_C197_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Activity 1- to fetch the month and time from the data frame.

# Import all the libraries and read 2015_Air_quality_in_northern_Taiwan.csv
#Predefine code starts
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv('https://shravantihable.github.io/AA/2015_Air_quality_in_northern_Taiwan.csv')
df
#Predefine code end

#Inside the dataframe df, create a column 'month' and store the fetched month from 'time' column. For this access the DatetimeIndex() function from the pd alias,and inside the function write df['time'] ,use the '.' operator fetch the month from it.

#Inside the dataframe df, create a column 'time-hours' and store the fetched time from 'time' column. For this access the DatetimeIndex() function from the pd alias,and inside the function write df['time'],use the '.' operator fetch the time from it.

#print the variable df to get the output.



#Note: run the code, you will get the updated dataframe/table, with month and time_hours columns added to it.

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                    time    station AMB_TEMP  ... WIND_DIREC WIND_SPEED WS_HR
0       01-01-2015 00:00    Banqiao       16  ...         69        4.7   4.2
1       01-01-2015 01:00    Banqiao       16  ...         65          4     4
2       01-01-2015 02:00    Banqiao       16  ...         53        3.7   3.5
3       01-01-2015 03:00    Banqiao       15  ...         63        4.1   3.3
4       01-01-2015 04:00    Banqiao       15  ...         67          3   3.1
...                  ...        ...      ...  ...        ...        ...   ...
218635  31-12-2015 19:00  Zhongshan       18  ...        121        3.2   2.3
218636  31-12-2015 20:00  Zhongshan       18  ...        113        2.7   2.3
218637  31-12-2015 21:00  Zhongshan       18  ...        109        2.6   2.6
218638  31-12-2015 22:00  Zhongshan       18  ...        112        2.4   2.2
218639  31-12-2015 23:00  Zhongshan       18  ...        106        2.9   2.3

[218640 rows x 23 columns]