In [ ]:
#Activity 3
#plot the heat map for showing the highest speed of the wind is in which month and at what time.
#Predefine start
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv('https://shravantihable.github.io/AA/2015_Air_quality_in_northern_Taiwan.csv')
df

df['month'] = pd.DatetimeIndex(df['time']).month
df['time_hours'] = pd.DatetimeIndex(df['time']).time
df

df.replace( '', float('nan') ,inplace=True)
df.replace( '0', float('nan') ,inplace=True)
df.replace('.#$', float('nan') ,inplace=True, regex=True)
df.replace('.x$', float('nan') ,inplace=True, regex=True)
df = df.dropna()
df



df['WIND_SPEED'] = df['WIND_SPEED'].astype(float)
df['WIND_SPEED']


new_dataframe = df.groupby(['month','time_hours'])['WIND_SPEED'].max().reset_index()
new_dataframe

#predefined end

#using the plt.figure() function, set the size of the plotting area by mentioning the width and height for the figsize parameter.

#using the pd alias access the pivot_table() function, and inside it set the following parameters:
#values as Wind_Speed column
#index as 'time_hours' column
#columns as 'month'column
#data as the new_dataframe
#and save all this in variable df_heatmap


#using the sns access the function heatmap(), and inside the function set the parameters as
#df_heatmap for the dataframe to be used
#cmap= (you can set the color for cmap from the given link - https://matplotlib.org/3.1.1/gallery/color/colormap_reference.html)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     month time_hours  WIND_SPEED
0        1   05:00:00         1.1
1        1   06:00:00         2.4
2        1   07:00:00         4.3
3        1   08:00:00         4.2
4        1   09:00:00         4.6
..     ...        ...         ...
159     12   13:00:00         5.1
160     12   14:00:00         4.2
161     12   15:00:00         3.9
162     12   16:00:00         4.4
163     12   17:00:00         3.0

[164 rows x 3 columns]