In [ ]:
#Activity 1- to fetch the month and time from the data frame.

# Import all the libraries and read 2015_Air_quality_in_northern_Taiwan.csv
#Predefine Code start
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv('https://shravantihable.github.io/AA/2015_Air_quality_in_northern_Taiwan.csv')
df
#Predefine code end

#Inside the dataframe df, create a column 'month' like this df['month'] and inside it store the fetched month from 'time' column. For this access the DatetimeIndex() function using the pd alias,and inside the function write df['time'], and using the '.' operator fetch the month from it.
df['month'] = pd.DatetimeIndex(df['time']).month
#Inside the dataframe df, create a column 'time-hours' like this df['time'] and inside it store the fetched time from 'time' column. For this access the DatetimeIndex() function using the pd alias,and inside the function write df['time'], and using the '.' operator fetch the time from it.
df['time_hours'] = pd.DatetimeIndex(df['time']).time
#print the variable df to get the output.
df


#Note: run the code, you will get the updated dataframe/table, with month and time_hours columns added to it.

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                    time    station AMB_TEMP  ... WS_HR month time_hours
0       01-01-2015 00:00    Banqiao       16  ...   4.2     1   00:00:00
1       01-01-2015 01:00    Banqiao       16  ...     4     1   01:00:00
2       01-01-2015 02:00    Banqiao       16  ...   3.5     1   02:00:00
3       01-01-2015 03:00    Banqiao       15  ...   3.3     1   03:00:00
4       01-01-2015 04:00    Banqiao       15  ...   3.1     1   04:00:00
...                  ...        ...      ...  ...   ...   ...        ...
218635  31-12-2015 19:00  Zhongshan       18  ...   2.3    12   19:00:00
218636  31-12-2015 20:00  Zhongshan       18  ...   2.3    12   20:00:00
218637  31-12-2015 21:00  Zhongshan       18  ...   2.6    12   21:00:00
218638  31-12-2015 22:00  Zhongshan       18  ...   2.2    12   22:00:00
218639  31-12-2015 23:00  Zhongshan       18  ...   2.3    12   23:00:00

[218640 rows x 25 columns]