<a href="https://colab.research.google.com/github/aparnachadha/AAs/blob/main/Copy_of_ADV_C195_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Additional-Activity-4
#plot the pie chart showing the percentage of firespots in a state

#predefine code start
import pandas as pd
import matplotlib.pyplot as plt 

df = pd.read_csv('https://shravantihable.github.io/AA/inpe_brazilian_amazon_fires_1999_2019.csv')
df
#predefine code ends

#apply the groupby function on 'state' column and add a column  'firespots' , on it apply the max() function, and reset the index to 0 and store it in a variable group_by_state .

#print the variable group_by_state


#define a variable value and store in it 'firespots' of group_by_state

#define a variable label and store in it 'state' of group_by_state

#using the plt.pie() function, and set the following parameters
#value 
#labels
#autopct- set the percentage upto 1 decimal places
#radius - set the radius of the pie.

plt.show()

      year  month        state   latitude  longitude  firespots
0     1999      1     AMAZONAS  -2.371113 -59.899933          3
1     1999      1     MARANHAO  -2.257395 -45.487831         36
2     1999      1  MATO GROSSO -12.660633 -55.057989         18
3     1999      1         PARA  -2.474820 -48.546967         87
4     1999      1     RONDONIA -12.861700 -60.513100          1
...    ...    ...          ...        ...        ...        ...
2099  2019     12  MATO GROSSO -12.138385 -56.066297        148
2100  2019     12         PARA  -2.976727 -50.909316       1280
2101  2019     12     RONDONIA -10.809262 -62.890452         42
2102  2019     12      RORAIMA   2.856667 -60.431963         27
2103  2019     12    TOCANTINS  -6.769381 -48.475667         21

[2104 rows x 6 columns]